.crew-page {
  @include breakpoint('lg') {
    padding-bottom: 0;
  }

  &::before {
    content: '';
    background-image: url('../assets/crew/background-crew-mobile.jpg');
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    z-index: z-index('below');

    @include breakpoint('lg') {
      background-image: url('../assets/crew/background-crew-tablet.jpg');
    }

    @include breakpoint('bg') {
      background-image: url('../assets/crew/background-crew-desktop.jpg');
    }
  }
}

.crew {
  &__container {
    display: grid;
    grid-template-areas:
      'title'
      'image'
      'controller'
      'main';
    max-width: size(450);

    @include breakpoint('lg') {
      max-width: none;
      row-gap: space('lg');
      grid-template-areas:
        'title'
        'main'
        'controller'
        'image';
    }

    @include breakpoint('bg') {
      height: calc(100vh - size(144));
      grid-template-areas:
        'title      image'
        '.          image'
        'main       image'
        '.          image'
        'controller image'
        '.          image';
      grid-template-columns: 1fr 0.8fr;
      grid-template-rows: auto 1fr auto 1fr auto size(100);
      align-items: center;
      text-align: left;
      justify-items: start;
    }
  }

  &__image {
    grid-area: image;
    justify-self: center;
    animation: fadeInToRight 1.5s ease-out 0s forwards;

    @include breakpoint('lg') {
      animation: fadeInToTop 1.5s ease-out 0s forwards;
    }

    @include breakpoint('bg') {
      align-self: end;
      height: 100%;
      overflow-y: hidden;
    }
  }

  &__title {
    grid-area: title;

    &::before {
      content: '02';
    }
  }

  &__content {
    grid-area: main;
    display: grid;
    justify-items: center;
    justify-self: center;
    align-self: start;
    row-gap: space('xs');
    animation: fadeInToRight 1.5s ease-out 0s forwards;

    @include breakpoint('lg') {
      animation: fadeInToTop 1.5s ease-out 0s forwards;
      margin-top: space('md');
      max-width: 50ch;
    }

    @include breakpoint('bg') {
      justify-self: start;
      justify-items: start;
      max-width: none;
    }
  }

  &__bio {
    max-width: 40ch;
  }

  &__name {
    margin-bottom: space('xs');
  }

  &__controller {
    animation: fadeInToRight 1.5s ease-out 0s forwards;
    grid-area: controller;

    @include breakpoint('lg') {
      animation: fadeInToTop 1.5s ease-out 0s forwards;
      margin-block: space('xs');
    }

    @include breakpoint('bg') {
      align-self: start;
    }
  }
}
