.destination-page {
  background-image: url('../assets/destination/background-destination-mobile.jpg');
  background-size: cover;
  padding-bottom: space('xl');

  @include breakpoint('lg') {
    background-image: url('../assets/destination/background-destination-tablet.jpg');
  }

  @include breakpoint('bg') {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
  }
}

.destination {
  margin-top: space('md');

  @include breakpoint('lg') {
    margin-top: space('xl');
  }

  &__container {
    display: grid;
    gap: space('lg');
    text-align: center;

    @include breakpoint('lg') {
      gap: space('2xl');
    }
  }

  &__title {
    @include breakpoint('lg') {
      text-align: left;
    }
  }

  &__title::before {
    color: getColor('opacity', '300l');
    content: '01';
    font-weight: bold;
    margin-right: space('rg');
  }
}
