.destination-page {
  background-image: url('../assets/destination/background-destination-mobile.jpg');

  @include breakpoint('lg') {
    background-image: url('../assets/destination/background-destination-tablet.jpg');
  }

  @include breakpoint('bg') {
    background-image: url('../assets/destination/background-destination-desktop.jpg');
  }
}

.destination__title::before {
  content: '01';
}
