.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: space('md');

  &__navigation {
    display: none;
  }

  &__button[data-active='true'] + &__navigation {
    backdrop-filter: blur(size(40));
    background-color: getColor('opacity', '100l');
    display: block;
    height: 100%;
    padding-top: space('xb');
    position: fixed;
    right: 0;
    top: 0;
    width: size(254);
    z-index: z-index('modal');

    .heading__list {
      display: flex;
      flex-direction: column;
      gap: space('rg');

      & > li {
        counter-increment: numItem;

        & a::before {
          content: '0' counter(numItem);
          font-family: $ff-subheading;
          font-weight: bold;
          margin-right: space('sm');
        }
      }
    }

    .heading__link {
      border-right: size(4) solid transparent;
      padding: space('xs') 0 space('xs') space('lg');
      transition: border-color 0.2s ease-out;

      &:where(:hover) {
        border-right-color: getColor('opacity', '400l');
      }

      &--current {
        border-right-color: getColor('neutral', 100);
      }
    }
  }

  &__logo {
    aspect-ratio: 1;
    width: clamp(size(40), 6.25vw, size(48));
    flex-shrink: 0;
  }

  &__button {
    z-index: z-index('above');
  }

  &__link {
    display: block;
  }
}

// MEDIA: Tablets
@include breakpoint('lg') {
  .heading {
    position: relative;
    padding: 0;

    &__logo {
      margin: space('md');
    }

    &__navigation {
      backdrop-filter: blur(size(40));
      background-color: getColor('opacity', '100l');
      display: block;
      padding-inline: space('xl');
      position: absolute;
      right: 0;
      height: 100%;
    }

    &__list {
      align-items: center;
      display: flex;
      gap: space('lg');
      height: 100%;
      position: relative;
      z-index: z-index('above');

      & > li {
        height: inherit;
      }
    }

    &__link {
      align-items: center;
      display: flex;
      height: inherit;
      border-bottom: size(3) solid transparent;
      transition: border-color 0.2s ease-out;

      &:where(:hover) {
        border-bottom-color: getColor('opacity', '400l');
      }

      &--current {
        border-bottom-color: getColor('neutral', 100);
      }
    }

    &__button {
      display: none;
    }
  }
}

// MEDIA: Desktop
@include breakpoint('bg') {
  .heading {
    margin-top: size(40);
    display: grid;
    grid-template-columns: 1fr min(80%, size(1440)) 1fr;
    align-items: center;

    &__logo {
      justify-self: center;
    }

    &__navigation {
      backdrop-filter: none;
      background: none;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: z-index('dropdown');

      &::before {
        background-color: getColor('opacity', '400l');
        content: '';
        height: size(1);
        left: 0;
        position: absolute;
        top: 50%;
        width: 43%;
      }
    }

    &__list {
      & > li {
        counter-increment: numItem;

        & a::before {
          content: '0' counter(numItem);
          font-family: $ff-subheading;
          font-weight: bold;
          margin-right: space('sm');
        }
      }
    }

    &::after {
      backdrop-filter: blur(size(40));
      background-color: getColor('opacity', '100l');
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: 0;
      width: 57vw;
    }
  }
}
