.home-page {
  background-image: url('../assets/home-page/background-home-mobile.jpg');
  background-size: cover;
  background-position: center center;
  padding-bottom: space('xl');

  @include breakpoint('lg') {
    background-image: url('../assets/home-page/background-home-tablet.jpg');
  }

  @include breakpoint('bg') {
    background-image: url('../assets/home-page/background-home-desktop.jpg');
  }
}

.home {
  padding-top: clamp(size(48), 13.8vw, size(251));
  text-align: center;

  &__container {
    opacity: 0;
    animation: fadeInToRight 1.5s ease-out 0s forwards;
    display: grid;
    gap: clamp(space('3xl'), 20.3vw, space('xb'));
    justify-items: center;

    @include breakpoint('lg') {
      animation: fadeInToTop 1.5s ease-out 0s forwards;
    }

    @include breakpoint('bg') {
      grid-auto-flow: column;
      justify-content: space-between;
      align-items: end;
      text-align: left;
    }
  }

  &__content {
    display: grid;
    gap: space('md');
    max-width: max-content;

    @include breakpoint('md') {
      max-width: min-content;
    }
  }
}
