// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

/* Slider */

.slider {
  width: 100%;
  height: 100%;
  margin-inline: auto;
  position: relative;

  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: end;
}

.slide > img {
  height: 100%;
  object-fit: contain;
  object-position: bottom center;

  @include breakpoint('medium') {
    object-position: center;
  }
}
