.tab {
  animation: fadeInToRight 1.5s ease-out 0s forwards;
  align-items: center;
  display: grid;
  justify-items: center;

  @include breakpoint('lg') {
    animation: fadeInToTop 1.5s ease-out 0s forwards;
  }

  @include breakpoint('bg') {
    column-gap: space('xb');
    grid-template-columns: max-content 1fr;
    margin-left: space('2xl');
  }

  &__image {
    aspect-ratio: 1;
    margin-bottom: space('md');
    width: clamp(size(170), 39vw, size(445));

    @include breakpoint('lg') {
      margin-bottom: space('xl');
    }

    @include breakpoint('bg') {
      margin-block: auto;
    }
  }

  &__main-content {
    display: grid;
    gap: space('sm');

    @include breakpoint('bg') {
      text-align: left;
      justify-self: end;
    }
  }

  &__form {
    align-items: center;
    display: flex;
    gap: space('md');
    justify-content: center;
    margin-bottom: space('xs');

    @include breakpoint('lg') {
      margin-bottom: space('md');
    }

    @include breakpoint('bg') {
      margin-bottom: space('md');
      justify-content: start;
    }
  }

  &__button {
    border-bottom: size(3) solid transparent;
    font-size: clamp(size(14), 2vw, size(16));
    letter-spacing: size(2.7);
    padding-bottom: space('xs');
    text-transform: uppercase;
    transition: border-bottom-color 0.2s ease-in, color 0.2s ease-in;

    &:hover {
      border-bottom-color: hsla(0, 0%, 100%, 0.5);
      cursor: pointer;
    }

    input:checked + & {
      border-bottom-color: hsl(0, 0%, 100%);
      color: getColor('neutral', 100);
    }
  }

  &__description {
    border-bottom: size(1) solid getColor('primary', '200');
    margin-bottom: space('lg');
    max-width: 65ch;
    padding-bottom: space('lg');

    @include breakpoint('lg') {
      padding-bottom: space('xl');
    }
  }

  &__info {
    display: grid;
    gap: space('lg');
    justify-content: space-around;

    @include breakpoint('lg') {
      grid-auto-flow: column;
    }

    @include breakpoint('bg') {
      justify-content: start;
      gap: space('3xl');
    }

    &-content {
      display: grid;
      gap: space('sm');
    }
  }
}
