@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

/* ------------------------------------------- */
/* TYPOGRAPHY */
/* ------------------------------------------- */

$ff-body: 'Barlow', sans-serif;
$ff-heading: 'Bellefair', serif;
$ff-subheading: 'Barlow Condensed', sans-serif;

// To change the typography go to file '_map.scss'

:root {
  /* Font size */
  @each $name, $size in $font-scale {
    --fs-#{$name}: #{$size};
  }

  /* Spaces */
  @each $name, $size in $space-scale {
    --sp-#{$name}: #{$size};
  }
}
