/* ------------------------------------------- */
/* UTILITIES CLASSES */
/* ------------------------------------------- */

/* CONTAINER */

.container {
  $padding: space('md');
  
  width: 100%;
  min-width: 15rem;
  padding-inline: $padding;
  margin-inline: auto;

  @include breakpoint('bg') {
    width: 80%;
  }
}