/* ------------------------------------------- */
/* UTILITIES CLASSES */
/* ------------------------------------------- */

/* CONTAINER */

.container {
  $padding: space('md');
  $max-width: container('xl');

  width: min($max-width, calc(100% - 2 * $padding));
  min-width: 20rem;
  margin-inline: auto;
}