/* ------------------------------------------- */
/* UTILITIES CLASSES */
/* ------------------------------------------- */

/* CONTAINER */

.container {
  $padding: space('md');
  $max-width: container('xl');

  width: min($max-width, 100%);
  min-width: 15rem;
  padding-inline: $padding;
  margin-inline: auto;
}