@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
/* ------------------------------------------- */
/* TYPOGRAPHY */
/* ------------------------------------------- */
:root {
  /* Font size */
  --fs-2xs: 0.625rem;
  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-rg: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.75rem;
  --fs-xl: 2rem;
  --fs-2xl: 2.25rem;
  --fs-3xl: 3rem;
  --fs-bg: 3.5rem;
  --fs-xb: 4.25rem;
  --fs-2xb: 5.375rem;
  --fs-3xb: 6.25rem;
  --fs-4xb: 9.375rem;
  /* Spaces */
  --sp-3xs: 0.125rem;
  --sp-2xs: 0.25rem;
  --sp-xs: 0.5rem;
  --sp-sm: 0.75rem;
  --sp-rg: 1rem;
  --sp-md: 1.5rem;
  --sp-lg: 2rem;
  --sp-xl: 3rem;
  --sp-2xl: 4rem;
  --sp-3xl: 5rem;
  --sp-bg: 6rem;
  --sp-xb: 8rem;
}

/* ------------------------------------------- */
/* COLORS */
/* ------------------------------------------- */
:root {
  /*================================================*/
  --clr-neutral-100: hsl(0deg, 0%, 100%);
  --clr-neutral-200: hsl(0deg, 0%, 96%);
  --clr-neutral-300: hsl(0deg, 0%, 93%);
  --clr-neutral-400: hsl(0deg, 0%, 88%);
  --clr-neutral-500: hsl(0deg, 0%, 74%);
  /*================================================*/
  --clr-dark-100: hsl(0deg, 0%, 59%);
  --clr-dark-200: hsl(0deg, 0%, 46%);
  --clr-dark-300: hsl(240deg, 12%, 30%);
  --clr-dark-400: hsl(240deg, 14%, 11%);
  --clr-dark-500: hsl(0deg, 0%, 13%);
  /*================================================*/
  --clr-primary-300: hsl(230deg, 35%, 15%);
  --clr-primary-400: hsl(230deg, 35%, 7%);
  /*================================================*/
  --clr-accent-400: hsl(231deg, 77%, 90%);
  --clr-accent-500: hsl(231deg, 77%, 86%);
}

/* ------------------------------------------- */
/* UTILITIES CLASSES */
/* ------------------------------------------- */
/* CONTAINER */
.container {
  width: min(69.375rem, 100% - 2 * var(--sp-md));
  min-width: 20rem;
  margin-inline: auto;
}

/* BUTTONS */
.button {
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: var(--fs-xl);
  letter-spacing: 0.125em;
  line-height: 1;
  text-transform: uppercase;
}
.button--main {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
  cursor: pointer;
  width: 17.125rem;
}
.button--main:hover {
  -webkit-animation: pulse 1s infinite ease-in;
          animation: pulse 1s infinite ease-in;
}
.button--dot {
  background-color: var(--clr-neutral-100);
  color: transparent;
  opacity: 0.1744;
  transition: opacity 0.3s ease-in;
  width: 1rem;
}
.button--dot:hover {
  opacity: 0.5;
}
.button--dot:active, .button--dot[data-status=active] {
  opacity: 1;
}
.button--slider {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border: 1px solid hsla(0deg, 0%, 100%, 0.25);
  letter-spacing: 0;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.2s ease-in;
  width: 5rem;
}
.button--slider:hover {
  border: 1px solid hsl(0deg, 0%, 100%);
}
.button--slider:active, .button--slider[data-status=active] {
  border: 1px solid hsl(0deg, 0%, 100%);
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
}

/* ------------------------------------------- */
/* RESET CSS */
/* ------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove padding and margin */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* Fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* ------------------------------------------- */
/* BASE CONFIGURATIONS */
/* ------------------------------------------- */
html {
  min-height: 100vh;
}

body {
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-400);
  font-family: "Barlow", sans-serif;
  font-size: var(--fs-md);
  min-height: 100vh;
  text-align: left;
  line-height: 1.7778;
}

h1, h2, h3, h4 {
  color: var(--clr-neutral-100);
  font-family: "Bellefair", serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

h1,
.heading--1 {
  font-size: var(--fs-4xb);
}
h1 > span,
.heading--1 > span {
  color: var(--clr-accent-400);
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--sp-lg);
  letter-spacing: 0.2968em;
  margin-bottom: var(--sp-xl);
}

h2,
.heading--2 {
  font-size: var(--fs-3xb);
}

h3,
.heading--3 {
  font-size: var(--fs-bg);
}

h4,
.heading--4 {
  font-size: var(--fs-xl);
}

.subheading {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.subheading--1 {
  font-family: "Bellefair", serif;
  font-size: var(--fs-lg);
}
.subheading--2 {
  font-size: var(--fs-sm);
  letter-spacing: 0.1468em;
}

p {
  color: inherit;
  font-size: inherit;
}

nav a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: var(--fs-rg);
  letter-spacing: 0.16875em;
  text-transform: uppercase;
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

:focus {
  outline: 2px dotted var(--clr-neutral-300);
  outline-offset: 0.2rem;
}

::-moz-selection {
  color: var(--clr-primary-300);
  background: var(--clr-accent-500);
}

::selection {
  color: var(--clr-primary-300);
  background: var(--clr-accent-500);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0deg, 0%, 59%, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5.5rem hsla(0deg, 0%, 59%, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0deg, 0%, 59%, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5.5rem hsla(0deg, 0%, 59%, 0);
  }
}/*# sourceMappingURL=main.css.map */