/* ------------------------------------------- */
/* TYPOGRAPHY */
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  /* Spaces */
  --sp-3xs: 0.125rem;
  --sp-2xs: 0.25rem;
  --sp-xs: 0.5rem;
  --sp-sm: 0.75rem;
  --sp-rg: 1rem;
  --sp-md: 1.5rem;
  --sp-lg: 2rem;
  --sp-xl: 3rem;
  --sp-2xl: 4rem;
  --sp-3xl: 5rem;
  --sp-bg: 6rem;
  --sp-xb: 8rem;
}

/* ------------------------------------------- */
/* COLORS */
/* ------------------------------------------- */
:root {
  /*================================================*/
  --clr-opacity-100l: hsla(0deg, 0%, 100%, 0.05);
  --clr-opacity-200l: hsla(0deg, 0%, 100%, 0.15);
  --clr-opacity-300l: hsla(0deg, 0%, 100%, 0.25);
  --clr-opacity-400l: hsla(0deg, 0%, 100%, 0.5);
  --clr-opacity-100d: hsla(0deg, 0%, 0%, 0.05);
  --clr-opacity-200d: hsla(0deg, 0%, 0%, 0.15);
  --clr-opacity-300d: hsla(0deg, 0%, 0%, 0.25);
  --clr-opacity-400d: hsla(0deg, 0%, 0%, 0.5);
  /*================================================*/
  --clr-neutral-100: hsl(0deg, 0%, 100%);
  --clr-neutral-200: hsl(0deg, 0%, 96%);
  --clr-neutral-300: hsl(0deg, 0%, 93%);
  --clr-neutral-400: hsl(0deg, 0%, 88%);
  --clr-neutral-500: hsl(0deg, 0%, 74%);
  /*================================================*/
  --clr-dark-100: hsl(0deg, 0%, 59%);
  --clr-dark-200: hsl(0deg, 0%, 46%);
  --clr-dark-300: hsl(240deg, 12%, 30%);
  --clr-dark-400: hsl(240deg, 14%, 11%);
  --clr-dark-500: hsl(0deg, 0%, 13%);
  /*================================================*/
  --clr-primary-200: hsl(231deg, 15%, 26%);
  --clr-primary-300: hsl(231deg, 35%, 15%);
  --clr-primary-400: hsl(230deg, 33%, 7%);
  /*================================================*/
  --clr-accent-400: hsl(231deg, 77%, 90%);
  --clr-accent-500: hsl(231deg, 77%, 86%);
}

/* ------------------------------------------- */
/* UTILITIES CLASSES */
/* ------------------------------------------- */
/* CONTAINER */
.container {
  width: 100%;
  min-width: 15rem;
  padding-inline: var(--sp-md);
  margin-inline: auto;
}
@media (min-width: 48em) {
  .container {
    padding-inline: 2.5rem;
  }
}
@media (min-width: 80em) {
  .container {
    padding-inline: 0;
    width: min(80%, 90rem);
  }
}

.fade-in-orbit {
  -webkit-animation: fadeInOrbit 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fadeInOrbit 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.fade-out-orbit {
  -webkit-animation: fadeOutOrbit 1.5s ease-in both;
          animation: fadeOutOrbit 1.5s ease-in both;
}

/* ------------------------------------------- */
/* RESET CSS */
/* ------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove padding and margin */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* ------------------------------------------- */
/* BASE CONFIGURATIONS */
/* ------------------------------------------- */
html {
  min-height: 100vh;
}

body {
  background-color: var(--clr-primary-400);
  color: var(--clr-accent-400);
  font-family: "Barlow", sans-serif;
  font-size: clamp(0.9375rem, 2.083vw, 1.125rem);
  min-height: 100vh;
  text-align: left;
  line-height: 1.7778;
}

h1, h2, h3, h4,
.heading--1,
.heading--2,
.heading--3,
.heading--4 {
  color: var(--clr-neutral-100);
  font-family: "Bellefair", serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

h1,
.heading--1 {
  font-size: clamp(5rem, 19.5vw, 9.375rem);
}
h1 > span,
.heading--1 > span {
  color: var(--clr-accent-400);
  display: block;
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1rem, 2.6vw, 1.75rem);
  letter-spacing: clamp(0.16875rem, 0.25vw, 0.295rem);
  margin-bottom: var(--sp-md);
}
@media (min-width: 48em) {
  h1 > span,
.heading--1 > span {
    margin-bottom: var(--sp-xl);
  }
}

h2,
.heading--2 {
  font-size: clamp(3.5rem, 10.4vw, 6.25rem);
}

h3,
.heading--3 {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
}

h4,
.heading--4 {
  font-size: clamp(1rem, 3.125vw, 2rem);
  color: var(--clr-opacity-400l);
}

h5,
.heading--5 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: clamp(1rem, 2.6vw, 1.75rem);
  letter-spacing: clamp(0.16875rem, 0.25vw, 0.295rem);
}
h5::before,
.heading--5::before {
  color: var(--clr-opacity-300l);
  font-weight: bold;
  margin-right: var(--sp-rg);
  content: "";
}

.subheading--1 {
  color: var(--clr-neutral-100);
  font-family: "Bellefair", serif;
  font-size: 1.75rem;
  text-transform: uppercase;
  line-height: 1;
}
.subheading--2 {
  color: var(--clr-accent-400);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 0.875rem;
  letter-spacing: 0.1475rem;
}

p {
  color: inherit;
  font-size: inherit;
}

a {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

::-moz-selection {
  color: var(--clr-primary-300);
  background: var(--clr-accent-500);
}

::selection {
  color: var(--clr-primary-300);
  background: var(--clr-accent-500);
}

.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--sp-md);
}
.heading__navigation {
  display: none;
}
.heading__button[data-active=true] + .heading__navigation {
  -webkit-backdrop-filter: blur(2.5rem);
          backdrop-filter: blur(2.5rem);
  background-color: var(--clr-opacity-100l);
  display: block;
  height: 100%;
  padding-top: var(--sp-xb);
  position: fixed;
  right: 0;
  top: 0;
  width: 15.875rem;
  z-index: 400;
}
.heading__button[data-active=true] + .heading__navigation .heading__list {
  display: flex;
  flex-direction: column;
  gap: var(--sp-rg);
  counter-set: numItem -1;
}
.heading__button[data-active=true] + .heading__navigation .heading__list > li {
  counter-increment: numItem;
}
.heading__button[data-active=true] + .heading__navigation .heading__list > li a::before {
  content: "0" counter(numItem);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
  margin-right: var(--sp-sm);
}
.heading__button[data-active=true] + .heading__navigation .heading__link {
  border-right: 0.25rem solid transparent;
  padding: var(--sp-xs) 0 var(--sp-xs) var(--sp-lg);
  transition: border-color 0.2s ease-out;
}
.heading__button[data-active=true] + .heading__navigation .heading__link:where(:hover) {
  border-right-color: var(--clr-opacity-400l);
}
.heading__button[data-active=true] + .heading__navigation .heading__link--current {
  border-right-color: var(--clr-neutral-100);
}
.heading__logo {
  aspect-ratio: 1;
  width: clamp(2.5rem, 6.25vw, 3rem);
  flex-shrink: 0;
}
.heading__button {
  z-index: 500;
}
.heading__link {
  display: block;
}

@media (min-width: 48em) {
  .heading {
    position: relative;
    padding: 0;
  }
  .heading__logo {
    margin: var(--sp-md) 2.5rem;
  }
  .heading__navigation {
    -webkit-backdrop-filter: blur(2.5rem);
            backdrop-filter: blur(2.5rem);
    background-color: var(--clr-opacity-100l);
    display: block;
    padding-inline: var(--sp-xl);
    position: absolute;
    right: 0;
    height: 100%;
  }
  .heading__list {
    align-items: center;
    display: flex;
    gap: var(--sp-lg);
    height: 100%;
    position: relative;
    z-index: 500;
  }
  .heading__list > li {
    height: inherit;
  }
  .heading__link {
    align-items: center;
    display: flex;
    height: inherit;
    border-bottom: 0.1875rem solid transparent;
    transition: border-color 0.2s ease-out;
  }
  .heading__link:where(:hover) {
    border-bottom-color: var(--clr-opacity-400l);
  }
  .heading__link--current {
    border-bottom-color: var(--clr-neutral-100);
  }
  .heading__button {
    display: none;
  }
}
@media (min-width: 80em) {
  .heading {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr min(80%, 90rem) 1fr;
    align-items: center;
  }
  .heading__logo {
    justify-self: center;
  }
  .heading__navigation {
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    background: none;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 200;
  }
  .heading__navigation::before {
    background-color: var(--clr-opacity-400l);
    content: "";
    height: 0.0625rem;
    left: 0;
    position: absolute;
    top: 50%;
    width: 43%;
  }
  .heading__list {
    counter-set: numItem -1;
  }
  .heading__list > li {
    counter-increment: numItem;
  }
  .heading__list > li a::before {
    content: "0" counter(numItem);
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    margin-right: var(--sp-sm);
  }
  .heading::after {
    -webkit-backdrop-filter: blur(2.5rem);
            backdrop-filter: blur(2.5rem);
    background-color: var(--clr-opacity-100l);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    width: 57vw;
  }
}
.home-page {
  background-image: url("../assets/home-page/background-home-mobile.jpg");
  background-size: cover;
  padding-bottom: var(--sp-xl);
}
@media (min-width: 48em) {
  .home-page {
    background-image: url("../assets/home-page/background-home-tablet.jpg");
  }
}
@media (min-width: 80em) {
  .home-page {
    background-image: url("../assets/home-page/background-home-desktop.jpg");
  }
}

.home {
  padding-top: clamp(3rem, 13.8vw, 15.6875rem);
  text-align: center;
}
.home__container {
  opacity: 0;
  -webkit-animation: fadeInToRight 1.5s ease-out 0s forwards;
          animation: fadeInToRight 1.5s ease-out 0s forwards;
  display: grid;
  gap: clamp(var(--sp-3xl), 20.3vw, var(--sp-xb));
  justify-items: center;
}
@media (min-width: 48em) {
  .home__container {
    -webkit-animation: fadeInToTop 1.5s ease-out 0s forwards;
            animation: fadeInToTop 1.5s ease-out 0s forwards;
  }
}
@media (min-width: 80em) {
  .home__container {
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: end;
    text-align: left;
  }
}
.home__content {
  display: grid;
  gap: var(--sp-md);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
@media (min-width: 37.5em) {
  .home__content {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
  }
}

.crew,
.destination,
.technology {
  padding-top: var(--sp-md);
}
@media (min-width: 48em) {
  .crew,
.destination,
.technology {
    padding-top: var(--sp-xl);
  }
}
.crew-page,
.destination-page,
.technology-page {
  background-size: cover;
  padding-bottom: var(--sp-xl);
}
.crew__container,
.destination__container,
.technology__container {
  display: grid;
  gap: var(--sp-lg);
  text-align: center;
}
@media (min-width: 48em) {
  .crew__container,
.destination__container,
.technology__container {
    gap: var(--sp-2xl);
  }
}
@media (min-width: 48em) {
  .crew__title,
.destination__title,
.technology__title {
    text-align: left;
  }
}

.destination-page {
  background-image: url("../assets/destination/background-destination-mobile.jpg");
}
@media (min-width: 48em) {
  .destination-page {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 80em) {
  .destination-page {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
  }
}

.destination__title::before {
  content: "01";
}

@media (min-width: 48em) {
  .crew-page {
    padding-bottom: 0;
  }
}
.crew-page::before {
  content: "";
  background-image: url("../assets/crew/background-crew-mobile.jpg");
  inset: 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  opacity: 0.25;
  z-index: -1;
}
@media (min-width: 48em) {
  .crew-page::before {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 51.8rem) {
  .crew-page::before {
    background-image: url("../assets/crew/background-crew-desktop.jpg");
  }
}

.crew__container {
  display: grid;
  max-width: 28.125rem;
}
@media (min-width: 48em) {
  .crew__container {
    max-width: none;
    row-gap: var(--sp-lg);
  }
}
@media (min-width: 80em) {
  .crew__container {
    height: calc(100vh - 9rem);
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: auto 1fr 6.25rem;
    align-items: center;
    text-align: left;
    justify-items: start;
    row-gap: var(--sp-xb);
  }
}
.crew__image {
  justify-self: center;
  -webkit-animation: fadeInToRight 1.5s ease-out 0s forwards;
          animation: fadeInToRight 1.5s ease-out 0s forwards;
}
@media (min-width: 48em) {
  .crew__image {
    -webkit-animation: fadeInToTop 1.5s ease-out 0s forwards;
            animation: fadeInToTop 1.5s ease-out 0s forwards;
  }
}
@media (min-width: 80em) {
  .crew__image {
    grid-column: 2;
    grid-row: 1/-1;
    align-self: end;
    height: 100%;
    overflow-y: hidden;
  }
}
.crew__title::before {
  content: "02";
}
.crew__content {
  display: grid;
  justify-items: center;
  justify-self: center;
  align-self: start;
  row-gap: var(--sp-xs);
  -webkit-animation: fadeInToRight 1.5s ease-out 0s forwards;
          animation: fadeInToRight 1.5s ease-out 0s forwards;
}
@media (min-width: 48em) {
  .crew__content {
    -webkit-animation: fadeInToTop 1.5s ease-out 0s forwards;
            animation: fadeInToTop 1.5s ease-out 0s forwards;
    grid-row: 2;
    margin-top: var(--sp-md);
    max-width: 50ch;
  }
}
@media (min-width: 80em) {
  .crew__content {
    justify-self: start;
    justify-items: start;
    max-width: none;
  }
}
.crew__bio {
  max-width: 40ch;
}
.crew__name {
  margin-bottom: var(--sp-xs);
}
.crew__controller {
  -webkit-animation: fadeInToRight 1.5s ease-out 0s forwards;
          animation: fadeInToRight 1.5s ease-out 0s forwards;
}
@media (min-width: 48em) {
  .crew__controller {
    -webkit-animation: fadeInToTop 1.5s ease-out 0s forwards;
            animation: fadeInToTop 1.5s ease-out 0s forwards;
    grid-row: 3;
    margin-block: var(--sp-xs);
  }
}
@media (min-width: 80em) {
  .crew__controller {
    align-self: start;
  }
}

.technology-page {
  background-image: url("../assets/technology/background-technology-mobile.jpg");
}
@media (min-width: 48em) {
  .technology-page {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 80em) {
  .technology-page {
    background-image: url("../assets/technology/background-technology-desktop.jpg");
  }
}

.technology__title::before {
  content: "03";
}

/* BUTTONS */
.button {
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: clamp(1.25rem, 4.16vw, 2rem);
  letter-spacing: clamp(0.078125rem, 0.26vw, 0.125rem);
  line-height: 1;
  text-transform: uppercase;
}
.button:where([hidden]) {
  display: none;
}
.button--main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
  cursor: pointer;
  width: clamp(9.375rem, 31.5vw, 17.125rem);
}
.button--main:hover {
  -webkit-animation: pulse 1s infinite ease-in;
          animation: pulse 1s infinite ease-in;
}
.button--dot {
  background-color: var(--clr-neutral-100);
  color: transparent;
  opacity: 0.1744;
  transition: opacity 0.3s ease-in;
  width: 1rem;
}
.button--dot:hover {
  opacity: 0.5;
}
.button--dot:active, .button--dot[data-status=active], input:checked + .button--dot {
  opacity: 1;
}
.button--slider {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  border: 1px solid hsla(0deg, 0%, 100%, 0.25);
  letter-spacing: 0;
  transition: background-color 0.3s ease-in, color 0.3s ease-in, border 0.2s ease-in;
  width: 5rem;
}
.button--slider:hover {
  border: 1px solid hsl(0deg, 0%, 100%);
}
.button--slider:active, .button--slider[data-status=active], input:checked + .button--slider {
  border: 1px solid hsl(0deg, 0%, 100%);
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-400);
}
.button--menu {
  background: transparent;
  border-radius: 0;
  position: relative;
  width: 1.5rem;
}
.button--menu .line {
  background-color: var(--clr-accent-400);
  display: block;
  height: 0.1875rem;
  position: absolute;
  width: 100%;
}
.button--menu .line--top {
  top: 0;
  translate: 0;
  rotate: 0;
  transition: top 0.25s 0.15s ease-in, translate 0.15s 0.25s ease-in, rotate 0.25s linear;
}
.button--menu .line--bottom {
  bottom: 0;
  translate: 0;
  rotate: 0;
  transition: bottom 0.25s 0.15s ease-in, translate 0.15s 0.25s ease-in, rotate 0.25s linear;
}
.button--menu .line--middle {
  top: 50%;
  translate: 0 -50%;
  transition: opacity 0.1s 0.2s linear;
}
.button--menu[data-active=true] {
  position: fixed;
  right: var(--sp-md);
}
.button--menu[data-active=true] .line--top {
  top: 50%;
  translate: 0 -50%;
  rotate: 135deg;
  transition: top 0.25s ease-out, translate 0.15s 0.15s ease-out, rotate 0.25s 0.25s linear;
}
.button--menu[data-active=true] .line--bottom {
  bottom: 50%;
  translate: 0 50%;
  rotate: 225deg;
  transition: bottom 0.25s ease-out, translate 0.15s 0.15s ease-out, rotate 0.25s 0.25s linear;
}
.button--menu[data-active=true] .line--middle {
  opacity: 0;
  transition: opacity 0.1s 0.25s linear;
}

/* TABS */
/* 
.tab {
  color: getColor('accent');
  border-bottom: 0.1875rem solid transparent;
  font-family: $ff-subheading;
  font-size: clamp(size(14), 2.083vw, size(16));
  letter-spacing: clamp(size(2.36), 0.31vw, size(2.7));
  text-transform: uppercase;
  padding-bottom: space('sm');
  transition: border-bottom-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    border-bottom-color: hsla(0, 0%, 100%, 0.5);
  }

  &:active,
  &[data-status='active'] {
    border-bottom-color: hsl(0, 0%, 100%);
    color: getColor('neutral', 100);
  }
} */
/* NAV LINKS */
nav a {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.16875rem;
  text-transform: uppercase;
}
@media (min-width: 48em) {
  nav a {
    font-size: clamp(0.875rem, 1.823vw, 1rem);
    letter-spacing: clamp(0.1475rem, 0.31vw, 0.16875rem);
  }
}

.tab {
  -webkit-animation: fadeInToRight 1.5s ease-out 0s forwards;
          animation: fadeInToRight 1.5s ease-out 0s forwards;
  align-items: center;
  display: grid;
  justify-items: center;
}
@media (min-width: 48em) {
  .tab {
    -webkit-animation: fadeInToTop 1.5s ease-out 0s forwards;
            animation: fadeInToTop 1.5s ease-out 0s forwards;
  }
}
@media (min-width: 80em) {
  .tab {
    -moz-column-gap: var(--sp-xb);
         column-gap: var(--sp-xb);
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    margin-left: var(--sp-2xl);
  }
}
.tab__image {
  aspect-ratio: 1;
  margin-bottom: var(--sp-md);
  width: clamp(10.625rem, 39vw, 27.8125rem);
}
@media (min-width: 48em) {
  .tab__image {
    margin-bottom: var(--sp-xl);
  }
}
@media (min-width: 80em) {
  .tab__image {
    margin-block: auto;
  }
}
.tab__main-content {
  display: grid;
  gap: var(--sp-sm);
}
@media (min-width: 80em) {
  .tab__main-content {
    text-align: left;
    justify-self: end;
  }
}
.tab__form {
  align-items: center;
  display: flex;
  gap: var(--sp-md);
  justify-content: center;
  margin-bottom: var(--sp-xs);
}
@media (min-width: 48em) {
  .tab__form {
    margin-bottom: var(--sp-md);
  }
}
@media (min-width: 80em) {
  .tab__form {
    margin-bottom: var(--sp-md);
    justify-content: start;
  }
}
.tab__button {
  border-bottom: 0.1875rem solid transparent;
  font-size: clamp(0.875rem, 2vw, 1rem);
  letter-spacing: 0.16875rem;
  padding-bottom: var(--sp-xs);
  text-transform: uppercase;
  transition: border-bottom-color 0.2s ease-in, color 0.2s ease-in;
}
.tab__button:hover {
  border-bottom-color: hsla(0deg, 0%, 100%, 0.5);
  cursor: pointer;
}
input:checked + .tab__button {
  border-bottom-color: hsl(0deg, 0%, 100%);
  color: var(--clr-neutral-100);
}
.tab__description {
  border-bottom: 0.0625rem solid var(--clr-primary-200);
  margin-bottom: var(--sp-lg);
  max-width: 65ch;
  padding-bottom: var(--sp-lg);
}
@media (min-width: 48em) {
  .tab__description {
    padding-bottom: var(--sp-xl);
  }
}
.tab__info {
  display: grid;
  gap: var(--sp-lg);
  justify-content: space-around;
}
@media (min-width: 48em) {
  .tab__info {
    grid-auto-flow: column;
  }
}
@media (min-width: 80em) {
  .tab__info {
    justify-content: start;
    gap: var(--sp-3xl);
  }
}
.tab__info-content {
  display: grid;
  gap: var(--sp-sm);
}

.carousel__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.0625rem solid var(--clr-primary-200);
  max-height: 14.0625rem;
  overflow-x: hidden;
}
@media (min-width: 48em) {
  .carousel__img-container {
    max-height: none;
  }
}
.carousel__image {
  height: 100%;
  flex-shrink: 0;
}
@media (min-width: 48em) {
  .carousel__image {
    height: auto;
    max-width: 18.75rem;
  }
}
@media (min-width: 80em) {
  .carousel__image {
    max-width: none;
    margin-top: auto;
  }
}
.carousel__controller {
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sp-rg);
  line-height: 0;
}
.carousel__dot {
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 0.625rem;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0deg, 0%, 59%, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5.5rem hsla(0deg, 0%, 59%, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(0deg, 0%, 59%, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5.5rem hsla(0deg, 0%, 59%, 0);
  }
}
@-webkit-keyframes fadeInToTop {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeInToTop {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadeInToBottom {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes fadeInToBottom {
  from {
    opacity: 0;
    transform: translateY(-30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes fadeInToLeft {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInToLeft {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeInToRight {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeInToRight {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fadeInOrbit {
  0% {
    transform: translateX(-800px) rotateY(-30deg) scale(5);
    transform-origin: 100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: -600px 50%;
    opacity: 1;
  }
}
@keyframes fadeInOrbit {
  0% {
    transform: translateX(-800px) rotateY(-30deg) scale(5);
    transform-origin: 100% 50%;
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: -600px 50%;
    opacity: 1;
  }
}
@-webkit-keyframes fadeOutOrbit {
  0% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 1800px 50%;
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 1;
  }
}
@keyframes fadeOutOrbit {
  0% {
    transform: translateX(0) rotateY(0) scale(1);
    transform-origin: 1800px 50%;
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) rotateY(30deg) scale(0);
    transform-origin: -100% 50%;
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */