/* ------------------------------------------- */
/* BASE CONFIGURATIONS */
/* ------------------------------------------- */

html {
  min-height: 100vh;
}

body {
  background-color: getColor('primary');
  color: getColor('accent');
  font-family: $ff-body;
  font-size: clamp(size(15), 2.083vw, size(18));
  min-height: 100vh;
  text-align: left;
  line-height: 1.7778;
}

h1, h2, h3, h4,
.heading--1, 
.heading--2, 
.heading--3, 
.heading--4 {
  color: getColor('neutral', 100);
  font-family: $ff-heading;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
}

h1, 
.heading--1 {
  font-size: clamp(size(80), 19.5vw, size(150));

  & > span {
    color: getColor('accent');
    display: block;
    font-family: $ff-subheading;
    font-size: clamp(size(16), 2.6vw, size(28));
    letter-spacing: clamp(size(2.7), 0.25vw, size(4.72));
    margin-bottom: space('md');

    @include breakpoint('lg') {
      margin-bottom: space('xl');
    }
  }
}

h2, 
.heading--2 {
  font-size: clamp(size(56), 10.4vw, size(100));
}

h3, 
.heading--3 {
  font-size: clamp(size(24), 5vw, size(56));
}

h4, 
.heading--4 {
  font-size: clamp(size(16), 3.125vw, size(32));
  color: getColor('opacity', '400l');
}

h5, 
.heading--5 {
  font-family: $ff-subheading;
  font-size: clamp(size(16), 2.6vw, size(28));
  letter-spacing: clamp(size(2.7), 0.25vw, size(4.72));

  &::before {
    color: getColor('opacity', '300l');
    font-weight: bold;
    margin-right: space('rg');
    content: '';
  }
}

.subheading {
  &--1 {
    color: getColor('neutral', 100);
    font-family: $ff-heading;
    font-size: size(28);
    text-transform: uppercase;
    line-height: 1;
  }
  
  &--2 {
    color: getColor('accent');
    font-family: $ff-subheading;
    font-size: clamp(size(14), 2vw, size(16));
    letter-spacing: size(2.36);
    text-transform: uppercase;
  }
}

p {
  color: inherit;
  font-size: inherit;
}

a {
  color: getColor('neutral', 100);
  text-decoration: none;
}

// :focus {
//   outline: 2px dotted getColor('neutral', 300);
//   outline-offset: 0.2rem;
// }

::selection {
  color: getColor('primary', 300);
  background: getColor('accent', 500);
}
